@font-face {
     font-family:'boomtown' ;
     src: url('BoomtownDeco.otf');
 };
.container {
    width: 100%;
}
.header {
    width: 80%;
    font-size: 1.25rem;
    text-transform: capitalize;
    margin: auto;
    background-color: #D4CEC7;
    border-bottom: black solid 1px;

}
.header-trigram {
    display: none;
}
.header-trigram::after {
    content: '\2630';
    font-size: 2rem;
}
.header-ul {
    display: flex;
    justify-content: space-between;
    height: 8rem;
}
.header-li {
    width:  calc(100% / 9);
    align-self: center;
    text-align: center;
}
.header-picture {
    background-image: cover;
    height: 10rem;
    position: relative;
    top: 4rem;
    color: white;
}
.header-pictureMobile {
    display: none;
}
.social {
    position: fixed;
    left: calc(80% + 3rem);
    top: 12rem;
}
.tiktoc-div , .insta-div {
    height: 5rem;
    width: 5rem;
    margin: 1rem;
    background-size: contain;
    opacity: 0.5;
}
.insta-div {
    background-image: url('../img/insta.png');
}
.tiktoc-div {
    background-image: url('../img/tiktoc.jpg');
}

.main {
    width: 80%;
    color: white;
    margin: auto;
    background-color: #bcbcbc
}
.sectionAdress {
    padding: 4rem 0;
    height: 100%;
    background-image: url('../img/pexels-nick-demou-1319459.jpg');
    background-size: cover;
    text-align: center;
    border-bottom: 1px solid black;
}
.sectionAdress-title {
    font-size: 8rem;
    font-family:'boomtown';
    margin-bottom: 1rem;
    text-transform: uppercase;    
}
.sectionAdress-descript {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    font-weight: bolder;
}
.sectionAdress-street, .sectionAdress-cp, .sectionAdress-town {
    font-size: 1rem;
    padding: 0.25rem;
    text-transform: capitalize;
    color: white;
}

.sectionAdress-reservationB {
    background: none;
    border:none ;
    font-size: 2em;
    color: #DE502F;
    padding: 1rem;
    border-radius: 10%;
    margin-top: 2rem;
}
.sectionService {
    padding: 4rem 0 2rem;
    border-bottom: black solid 1px;
}
.sectionService-title {
    text-transform: capitalize;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.sectionService-flex {
    display: flex;
    justify-content: center;
}
.sectionService-card {
    width: 25%;
    padding: 0 2rem;
}
.sectionService-img {
    width: 100%;
   height: 12rem;
}
.sectionService-typeServices {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.sectionShop {
    padding: 4rem 0;
}
.sectionShop-title {
font-size: 4rem;
margin-bottom: 2rem;
text-align: center;
}

.sectionShop-flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;}
.sectionShop-card {
    width: 20%;
}
.sectionShop-cardTitle {
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    padding: 0.5rem;
    background-color: #DAD6D3;
    text-align: center;
    border-radius: 0 50px 0 0 ;
}
.sectionShop-img {
    width: 100%;
    height: 12rem;
}
.sectionShop-Descript {
    padding: 0.5rem;
}
.footer {
    width: 80%;
    margin: auto;
    border-top: solid 1px gray;
    background-color: #bcbcbc;
    padding: 1rem 0 4rem 0;
    font-size: 1.5rem
}
.footer-icoPhone, .footer-icoMail {
    font-size: 2rem; 
    margin-right: 2rem;
}
.footer-flexAdress {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-coordonate {
    display: flex;
   justify-content: center;
    margin: auto;
    width: 100%;
    position: relative;
}
.footer-phone, .footer-mail {
    width: 20%;
}
.footer-icoPhone::after {
     content:'\2709';
    
}
.footer-icoMail::after {
  content:'\260F';
}
 .footer-img {
     margin: auto;
     height: 4rem;
     width: 100%;
 }
.header-pictureRotate {
  position: relative;
  left: calc((50% - (100% / 18)));
  height: 12rem;
  opacity: 0.9;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 3rem;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .header, .main, .footer {
       width: 100%;
        margin: none;
        font-size: 1rem;
    }
    .header {
        padding: 2rem 0;
      
    }
    .header-trigram {
        display: inherit;
        width: 10%;
    }
    .header-ul {
        display: none;
    }
    .header-trigram:hover + .header-ul {
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .header-li {
        width: 100%;
        padding: 0.5rem 0;
        text-align: left;
    }
    .header-picture {
        display: none;
    }
    .header-pictureMobile {
        display: inherit;
        width: calc(100% / 9);
        height: 5rem;
        position: absolute;
        top: 1rem;
        left: calc(50% - (100% / 18) );
        }
    .social {
        transform: rotate(90deg);
        position:fixed;                
        left: 80%;
        top: -2rem;   
        }
    .tiktoc-div {
        transform: rotate(-90deg);
    }
    .tiktoc-div , .insta-div {
        height: 4rem;
        width: 4rem;
        margin: 0.5rem;
        background-size: contain;
    }
    .sectionAdress {
        padding-bottom: 0rem ;
        margin: none;
    }
    .sectionAdress-title {
        font-size: 4rem; 
    }
    .sectionAdress-reservationB, .sectionAdress-reservation {
        margin: none;
        padding: none;
        font-size: 1.5rem;
    }
    .sectionService {
        padding: 2rem 0;
        border-bottom: black 1px solid;
    }
    .sectionService-title {
        font-size: 2em;
        font-weight: bolder;
    }
    .sectionService-flex {
        flex-direction: column;
    }
    .sectionService-card {
        width: 80%;
        margin: auto;
        padding: 2rem 0;
    }
    .sectionService-img, .sectionShop-img  {
       background-image: cover;
       height: 16rem;
      
    }
    .sectionShop {
        padding: 2rem 0;
    }
    .sectionShop-title {
    font-size: 2rem;
    font-weight: bolder;
    }
    .sectionShop-flex {
       flex-direction: column;
        width: 100%;
    }
    .sectionShop-card {
        width: 80%;
        margin: auto;
        padding: 2rem 0;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer-img {
        height: 6rem;
        width: 100%;
    }
   .header-pictureRotate {
     position: relative;
     left: calc((50% - (100% / 18)));
     height: 6rem;
     opacity: 0.9;
   }
   .footer-flexAdress {
    position:initial;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    }

    .footer-coordonate {
        display:flex;
        justify-content: center;
        margin: auto;
        width: 1
    }
    .footer-nav {
        flex-direction: column;
        justify-content: center;
    }
    .footer-link {
        text-align: center;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .header, .main, .footer {
    width: 100%;
    margin: none;
    font-size: 1rem;
    }
   
    .header-nav{
        width: 100%;
    }
    .header-li {
      margin: 0 0.5rem;
    }
    .tiktoc-div , .insta-div {
        height: 4rem;
        width: 4rem;
        margin: 1rem;
        position:relative;
        right: 2rem;
        top: -4rem
    }
    .header-picture {
        background-image: cover;
        height: 4rem;
        position: relative;
        top: 2rem
    }
    .sectionAdress {
        padding: 4rem 0;
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center; 
        }
    .sectionAdress-reservationB, .sectionAdress-reservation {
        margin: none;
        padding: none;
        font-size: 1.5rem;
    }
    .sectionService {
        padding: 2rem 0;
        border-bottom: black 1px solid;
    }
    .sectionService-title {
        font-size: 2em;
        font-weight: bolder;
    }
    .sectionService-card {
        width: 48%;
        padding: 2rem;
    }
    .sectionService-img, .sectionShop-img  {
    background-image: cover;
    height: 16rem;
    
    }
    .sectionShop-title {
    font-size: 2rem;
    font-weight: bolder;
    }
    .sectionShop-flex {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sectionShop-card {
        width: 30%;
        padding: 1rem 2rem;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .header-li {
        padding: 0.5rem;
    }
    .header-picture {
        height: 6rem;
        position: relative;
        top: 2rem
    }
    .tiktoc-div , .insta-div {
        height: 4rem;
        width: 4rem;
        position:relative;
        right: 2rem;
        top: -4rem
    }
    .sectionShop-flex {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
  
    .sectionShop-card {
        width: 20%;
        padding: 1rem 2rem;
    }
}